* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    background-color: #333;
    font-family: 'proxima-nova', sans-serif;
}

.building img {
    display: block;
    margin-bottom: 0;
}

.building p {
    margin: 20px 0 0;
}

.building {
    width: min(400px, 100%);
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 25px;
}

.building-header {
    position: relative;
    width: 100%;
}

.building-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.building-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.building-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background: linear-gradient(0deg, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0.01) 100%);
}

.building-title {
    margin-bottom: 10px;
    color: #fff;
    font-size: 24px;
}

.building-btns {
    display: flex;
    gap: 10px;
}

.building-btn {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    background-color: #8a6e4b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.building-btn-alt {
    background-color: #333;
}

.building-btn:hover,
.building-btn:focus {
    background-color: rgba(138, 110, 75, 0.8);
}

.building-btn-alt:hover,
.building-btn-alt:focus {
    background-color: rgba(40, 40, 41, 0.8);
}

.btn-icon {
    margin-right: 5px;
}

.btn-icon img {
    width: 12px;
}

.building-footer {
    padding: 10px 20px;
}

.building-panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: rift, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.building-panel-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.building-panel-btn::after {
    content: '-';
    color: #8a6e4b;
    font-size: 24px;
    font-weight: normal;
}

.building-panel-btn.closed::after {
    content: '+';
}

.building-panel-content.closed {
    display: none;
}
